@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Quicksand:wght@300;400;600;700&family=Spartan:wght@400;700;900&display=swap');

button:disabled {
    opacity: 0.2;
}
button:disabled:hover {
    opacity: 0.2;
    cursor: default;
}

.primary {
    border: none;
    outline: 0;
    padding: 18px;
    color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 0.8rem;
    width: 100%;
    margin-top: 1.2rem;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 3px;
    background: rgb(255,112,13);
}

.secondary {
    border: none;
    outline: 0;
    padding: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 0.8rem;
    width: 100%;
    margin-top: 1.2rem;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 3px;
    background: rgb(0, 0, 0);
}
.secondary:hover, .primary:hover {
    background: rgb(255,112,13);
    background: linear-gradient(180deg, rgba(255,112,13,1) 0%, rgba(182,75,0,0.3925945378151261) 100%);
    transition: all 0.5s ease;   
}
