@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Quicksand:wght@300;400&family=Spartan:wght@700;900&display=swap');

.movies-page{
    background-color: black;
    margin-top: 3%;
}

.movies-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movies-title{
    letter-spacing: 2px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

.bline{
    margin-top: 40px;
}

.loadOverlay {
    background: #000; 
    width: 100%;
    height: 100%; 
    z-index: 10;
    top: 0; 
    left: 0; 
    position: fixed; 
  }

 .loadingGIF {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18%;
} 