@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Quicksand:wght@300;400;600;700&family=Spartan:wght@400;700;900&display=swap');

.mTitle{
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 3rem;
    color: white;
    border-bottom: 10px solid #FF700D;
    position: absolute;
    bottom: 340px;
    left: 190px;
    z-index: 3;
}

.mStoryline{
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    z-index: 3;
    position: absolute;
    margin-top: 20px;
}

.mTicketTimeText{
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    z-index: 3;
    position: absolute;
    margin-top: 240px;
}

.mRuntime{
    font-size: 0.9rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(112, 112, 112);
    z-index: 3;
    position: absolute;
    margin-top: 25px;
    
}

.mReleaseDate{
    font-size: 0.9rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgb(112, 112, 112);
    z-index: 3;
    position: absolute;
    margin-top: 10px;
}

.mStorylineText{
    font-size: 0.8rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: white;
    z-index: 3;
    position: absolute;
    margin-top: 70px;
    line-height: 30px;
    width: 1000px;
}

.mImage{
    width:  100%;
    height: 400px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: absolute;
    z-index: -1; 
    

}

.mLine{
    margin-top: 40px;
}

.mOverlay{
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Black background with opacity */
    z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    margin-top: 70px;
}

.continueContainer{
    margin-top: 50px;
}



  /*----------Responsive Design For Desktop---------*/

  @media only screen and (min-width: 1629px) {

    .mTitle{
        position: absolute;
        bottom: 440px;
        left: 250px;
        font-size: 5rem;
    }

    .mImage{
        height: 600px;
    
    }


  }