@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Quicksand:wght@300;400;600;700&family=Spartan:wght@400;700;900&display=swap');

.movie{
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1.9rem;
    margin-top: 3%;
    margin-bottom: 5%;
    background: #000000;
}

.movie-poster{
    width:300px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 5px;
    color: white;
}

.movie-name{
    font-size: 1rem;
    padding-top: 2px;
    text-transform: uppercase;
    color: white;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    margin-bottom: 0px;
    letter-spacing: 2px;
    

}

.movie-actor{
    font-weight: bold;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 10px;
    
}

.movie-genre{
    background-color: black;
    font-weight: bold;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    border: 2px solid #FF700D;
    border-radius: 3px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.movie-MPAA{
    color: rgb(116, 116, 116);
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 30px;
}

.line{
    margin-bottom: 20px;
}

/*----------Responsive Design For Desktop---------*/

@media only screen and (min-width: 1629px) {

    .movie{
        width:300px;
        margin-right: 4rem;
    }

    .movie-name{
        font-size: 1.1rem;
    }


  }

