@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Quicksand:wght@300;400;600;700&family=Spartan:wght@400;700;900&display=swap');

body, html {
    margin-left:5%;
    margin-right:5%;
    margin-bottom:5%;
    margin-top:1%;
    background-color: black;
}

.background{
    position: relative;
    text-align: center;
    color: white;
}

.headerImage{
    height:100%;
    width: 100%;
}

.headingText{
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 4rem;
    color: white;
    position: absolute;
    bottom: 180px;
    left: 40px;
    z-index: 3;
}

.cinemaText{
    font-family: 'Spartan', sans-serif;
    font-weight: 700;

    font-size: 1rem;
    color: #FF700D;
    text-transform: uppercase;
    position: absolute;
    bottom: 380px;
    left: 45px;
    z-index: 3;
}

.paragraphText{

    position: absolute;
    bottom: 150px;
    left: 45px;

    font-size: 1.2rem;

    font-family: 'Quicksand', sans-serif;

    letter-spacing: 2px;
    z-index: 3;
}

.bookButton{
    position: absolute;
    bottom: 70px;
    left: 45px;
    font-size: 0.8rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #FF700D;
    letter-spacing: 2px;
    z-index: 3;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 4px;
    color: white;
    cursor: pointer; 
}

.bookButton:hover{
    background-color: #FF700D;
    transition: all 0.5s ease;
}

.overlay {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2; 
    cursor: pointer; 
  }


  /*----------Responsive Design For Desktop---------*/

@media only screen and (min-width: 1629px) {

        .headingText{
        position: absolute;
        bottom: 300px;
        left: 40px;
    }

    .paragraphText{
        bottom: 265px;
        left: 45px;
    }

    .bookButton{
        bottom: 170px;
        left: 45px;
    }

    .cinemaText{
        bottom: 590px;
    }

}

